/**
    style.css - default styling for Travel Minnesota pages
    Contributors:
        James West - westj4@csp.edu
        Dylan Johnson - johnsond47@csp.edu
    Course: CSC235 Server-Side Development
    Assignment: Group Project
    Date: 4/21/2023
    Revised: 5/1/2023
 */

body {
    margin: 50px;
}

h2 {
    font-size: large;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

nav > a {
    color: #2F95FA;
}

img {
    width: 200px;
}

p {
    min-height: 10px;
    font-size: 1em;
}

.flxWrapper {
    display: flex;
    gap: 30px;
}

#logo {
    display: block;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.divider {
    margin: auto 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E8FA37;
    border: #2F95FA dashed 1px;
}

#frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80vw;
    min-width: 750px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.frmSelectLabel {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.frmSelectWrapper > a {
    margin-left: auto;
    margin-right: 2px;
}

.frmSelectWrapper {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: end;
    margin-bottom: 3px;
}

form > select {
    width: fit-content;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnWrapper {
    margin-top: 15px;
    margin-bottom: -20px;
    display: flex;
    gap: 10px;
}

.fieldWrapper {
    display: flex;
    flex-flow: wrap;
    gap: 20px
}

.topLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topLabel > input {
    width: 300px;
    max-width: 200px;
    height: fit-content;
}

.flxShiftR {
    margin-left: auto;
}

#destinationTagEdit {
    margin-top: 20px;
}

#destinationTagEdit > fieldset {
    display: flex;
    flex-direction: row;
}

.destTagWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 30px;
}

.destTagWrapper > select {
    width: fit-content;
    overflow-y: hidden;
    padding: 7px;
    flex: 2;
}

.destTagWrapper > label {
    font-style: italic;
    width: fit-content;
    margin: auto;
}

textarea {
    width: 600px;
    height: 50px;
    padding: 10px;
}

#lstTagType {
    width: fit-content;
}

.destAllWrapper {
    display: flex;
    gap: 10px;
    align-items: end;
}

.frmGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#feedback {
    display: block;
    width: 500px;
    margin: 50px auto 0px;
}

#feedback > p {
    width: fit-content;
    margin: 12px auto;
}

.success {
    color: #144a79;
}

.failed {
    color: darkred;
}