* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    

    display: grid;
    grid-template-areas:
        'header header'
        'nav content';
    grid-template-columns: 10% 90%;
    grid-template-rows: 15% 85%;
}

header,
footer,
main,
aside,
nav {
  background-color: white;
  color: black;
  padding: .5%;
  /*border: black 1px solid;*/
}

header {
    grid-area: header;
    color: white;
    background-color: darkblue;
}

nav {
    grid-area: nav;
    background-color: darkblue;
    color: white;
}

main {
    grid-area: content;
}

body > main {
    display: grid;
    grid-template-areas: 
    'dropdown dropdown'
    'destination link'
    'descr descr'
    'address image';
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 18% 59% 18%;
}

#dropdown {
    grid-area: dropdown;
}

#destination_name {
    grid-area: destination;
}

#descr {
    grid-area: descr;
    line-height: 1.5;
}

#descr > p {
    width: 50%;
}

#link {
    grid-area: link;
}

#address {
    grid-area: address;
}

#image {
    grid-area: image;
}

#wireframe > .img {
    padding-right: 5%;
    width: 75%
}

#dbd > .img {
    padding-left: 5%;
    width: 75%;
}

header > img {
    height: 20%;
}
  