/**
    style.css - Stylesheet for database creation output.
    Contributors:
        James West - westj4@csp.edu
        Dylan Johnson - johnsond47@csp.edu
    Course: CSC235 Server-Side Development
    Assignment: Group Project
    Date: 4/21/2023
 */

#frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80vw;
    min-width: 750px;
    margin-left: 40px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.frmSelectLabel {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.frmSelectWrapper > a {
    margin-left: auto;
    margin-right: 2px;
}
.frmSelectWrapper {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: end;
    margin-bottom: 3px;
}
form > select {
    width: fit-content;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnWrapper {
    margin-top: 15px;
    margin-bottom: -20px;
    display: flex;
    gap: 10px;
}

.fieldWrapper {
    display: flex;
    flex-flow: wrap;
    gap: 20px
}
.topLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topLabel > input {
    width: 300px;
    max-width: 200px;
    height: fit-content;
}

.flxShiftR {
    margin-left: auto;
}

#destinationTagEdit {
    margin-top: 20px;
}

#destinationTagEdit > fieldset {
    display: flex;
    flex-direction: row;
}

.destTagWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 30px;
}

.destTagWrapper > select {
    width: fit-content;
    overflow-y: hidden;
    padding: 7px;
    flex: 2;
}

.destTagWrapper > label {
    font-style: italic;
    width: fit-content;
    margin: auto;
}

textarea {
    width: 600px;
    height: 50px;
    padding: 10px;
}

#lstTagType {
    width: fit-content;
}

.destAllWrapper {
    display: flex;
    gap: 10px;
    align-items: end;
}
.frmGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    min-height: 20px;
    font-size: 1em;
}